<div class="hero min-h-screen" style="background-image: url(assets/background.jpg);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Kelompok 4 Machine Learning</h1>
      <div class="mb-5">Anggota Kelompok :
        Riris Iyut Roito Siregar
        Tesalonika Aprisda Sitopu
        Gabriel Cesar Hutagalung
        Dea Yova Septri Saragih
        Agustina Butar-Butar
        Intan Sianipar
        Nicholas Hutabarat
        Gerry Benyamin Bukit
      </div>
      <a routerLink="/generate" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>
